
<h1>gogle検索結果</h1>

<%= form_tag("/home/create") do %>
  <div class="form">
    <div class="form-body">
      <input type="text" name="content">
      <input type="submit" value="キーワード入力">
    </div>
  </div>
<% end %>
